<div class="div-content fadeInDown">
    <div class="div-login">
        <p class="p-titleLogin">Registro </p>
        <div class="div-formulario">
            <div class="div_separatorInputs">
                <input type="text" placeholder="Nombre Usuario" [formControl]="username"/>
            </div>
            <div class="div_separatorInputs">
                <input type="password" placeholder="Contraseña" [formControl]="password"/>
            </div>
        </div>
        <div class="div_btnRegistar">
            <a class="btn btn-primary btn-large btn-block" (click)="registerUser()">Registrar</a>
        </div>
        <a class="login-link" href="index.html">Iniciar sesion</a>
    </div>
</div>